.bg-orange{background:#F6422E}
.text-orange{color:#F6422E;}
.bg-lightorange{background:#FC5B31}

/*HEADER AREA*/
.navbar-nav{font-size: .8125rem;}
.navbar-nav a{color:#fff!important;}
.left-nav a:after {content: "|";left: 8px;position: relative;}
.left-nav a:last-child:after {content: "";}
.search-links{font-size: .75rem;font-weight: 300;line-height: .875rem;margin:10px 0px;}
.search-links a{color:#fff;margin:0px 3px;}
.cart-icon{margin-left:50px;}
.social-icon:after{display:none;}
.nav-divider{position:relative;top:8px;}
.navbar-brand img{max-width:80px;margin-bottom:10px;}
.left-nav a:nth-child(4):after {content: "";}
/*BANNER AREA*/
.carousel{background: #fff;}
#myCarousel .carousel-item{background: transparent!important;}
.carousel-item{text-align: center;min-height: 280px;background-size: cover;
background-repeat: no-repeat;background-image: url("/shop/images/carousel/makeup.jpg");}
.carousel-item:nth-child(2){background-image: url("/shop/images/carousel/shampoo.jpg");}
.carousel-item:nth-child(3){background-image: url("/shop/images/carousel/clothes.jpg");}
.side-banner div{margin-bottom:10px;min-height:135px;}

/*PRODUCTS*/
.carousel .item .img-box {height: 160px;width: 100%;position: relative;}
.carousel .thumb-content {padding: 15px;}
.carousel .thumb-wrapper {text-align: center;}
.carousel .item img {max-width: 100%;max-height: 100%;display: inline-block;position: absolute;bottom: 0;
margin: 0 auto;left: 0;right: 0;}
.carousel .item h4 {font-size: 22px;margin: 10px 0;}
.carousel .item-price {font-size: 13px;padding: 2px 0;}
.star-rating i {font-size: 14px;color: #ffc000;}
.carousel .carousel-control {height: 100px;width: 40px;background: none;margin: auto 0;background: rgba(0, 0, 0, 0.2);}
.carousel .carousel-control.left i {margin-right: -3px;}
.carousel .carousel-control i {font-size: 30px;position: absolute;top: 50%;display: inline-block;margin: -16px 0 0 0;z-index: 5;left: 0;right: 0;
	color: rgba(0, 0, 0, 0.8);text-shadow: none;font-weight: bold;}

.demo {
    padding: 45px 0
}

.product-grid2 {
    font-family: 'Open Sans', sans-serif;
    position: relative
}

.product-grid2 .product-image2 {
    overflow: hidden;
    position: relative
}

.product-grid2 .product-image2 a {
    display: block
}

.product-grid2 .product-image2 img {
    width: 100%;
    height: auto
}

.product-image2 .pic-1 {
    opacity: 1;
    transition: all .5s
}

.product-grid2:hover .product-image2 .pic-1 {
    opacity: 0
}

.product-image2 .pic-2 {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s
}

.product-grid2:hover .product-image2 .pic-2 {
    opacity: 1
}

.product-grid2 .social {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 50px;
    right: 25px;
    z-index: 1
}

.product-grid2 .social li {
    margin: 0 0 10px;
    display: block;
    transform: translateX(100px);
    transition: all .5s
}

.product-grid2:hover .social li {
    transform: translateX(0)
}

.product-grid2:hover .social li:nth-child(2) {
    transition-delay: .15s
}

.product-grid2:hover .social li:nth-child(3) {
    transition-delay: .25s
}

.product-grid2 .social li a {
    color: #505050;
    background-color: #fff;
    font-size: 17px;
    line-height: 45px;
    text-align: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: block;
    transition: all .3s ease 0s
}

.product-grid2 .social li a:hover {
    color: #fff;
    background-color: #3498db;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}

.product-grid2 .social li a:after,
.product-grid2 .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    line-height: 22px;
    border-radius: 3px;
    padding: 0 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px
}

.product-grid2 .social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -22px;
    z-index: -1
}

.product-grid2 .social li a:hover:after,
.product-grid2 .social li a:hover:before {
    opacity: 1
}

.product-grid2 .add-to-cart {
    color: #fff;
    background-color: #404040;
    font-size: 15px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    display: block;
    position: absolute;
    left: 0;
    bottom: -100%;
    transition: all .3s
}

.product-grid2 .add-to-cart:hover {
    background-color: #3498db;
    text-decoration: none
}

.product-grid2:hover .add-to-cart {
    bottom: 0
}

.product-grid2 .product-new-label {
    background-color: #3498db;
    color: #fff;
    font-size: 17px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s
}

.product-grid2:hover .product-new-label {
    opacity: 0
}

.product-grid2 .product-content {
    padding: 20px 10px;
    text-align: center
}

.product-grid2 .title {
    font-size: 17px;
    margin: 0 0 7px
}

.product-grid2 .title a {
    color: #303030
}

.product-grid2 .title a:hover {
    color: #3498db
}

.product-grid2 .price {
    color: #303030;
    font-size: 15px
}

@media only screen and (max-width:767px){
.left-nav a:after, .nav-divider {display:none;}
.side-banner div{margin-top:10px;}
.cart-icon{margin-left:0px;}
}